swagger: "2.0"
info:
  description: "URL shortener app"
  version: "1.0.0"
  title: "Shortener"
  contact:
    email: "tianyizhang1987@gmail.com"
  license:
    name: "ISC"
host: "tbd.com"
basePath: "/api"
schemes:
- "https"
- "http"
paths:
  /shorten:
    post:
      summary: "Submit a long url to shorten it"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "long_url"
        description: "Long url that needs to be shortened"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "Successful operation, url has been shortened"
          schema:
            $ref: "#/definitions/shortened_url"
        400: 
          description: "Invalid long url input"
        405:
          description: "Invalid method"
  /{code}:
    get: 
      summary: "End point for redirecting to website of original long url"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"  
        description: "Code of the short url"
        required: true
        type: "string"
      responses: 
        302:
          description: "Successful redirect"
        400: 
          description: "Invalid code for shortened url"
        405:
          description: "Invalid method"
  /urls/{code}:
    get: 
      summary: "End point for retrieving shortened url, original long url, and row id by code"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"  
        description: "Code of the short url"
        required: true
        type: "string"
      responses: 
        200:
          description: "Successful retrieval of url object"
          schema:
            $ref: '#/definitions/url_object'
        400: 
          description: "Invalid code for shortened url"
        405:
          description: "Invalid method"
definitions:
  shortened_url:
    type: "object"
    properties: 
      id: 
        type: "integer"
        format: "int64"
      url:
        type: "string"
  url_object:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      short_url:
        type: "string"
      long_url:
        type: "string"

